html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3F3D56;
    font-size: 36px;
}

h1 > span {
    color: #00BFA6;
}

/* Navbar */
.navbar-pestbot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #3F3D56;
    position: fixed;
}

.logo > a {
    color: #ffffff;
    text-decoration: none;
}

.logo > a > span {
    color: #00BFA6;
}

.navbar-pestbot > ul {
    display: flex;
}

.navbar-pestbot > ul > li {
    margin-right: 2px;
    margin-left: 2px;
    list-style: none;
}

.navbar-pestbot > ul > li > a {
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
    color: #ffffff;
}

.navbar-pestbot > ul > li > a:hover {
    text-decoration: underline;
}

/* Call to action */
#call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    height: 100vh;
    width: 100vw;
    border-bottom: solid 1px #3F3D56;
}

#call-to-action > svg {
    margin-right: 20px;
}

.call-box {
    margin-left: 20px;
    color: #3F3D56;
    text-align: center;
}

.call-box > h1 > span, h2 > span {
    color: #00BFA6;
}

.btn-call {
    display: inline-block;
    width: 220px;
    height: 40px;
    margin-top: 25px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #3F3D56;
    border-radius: 20px;
    border: 2px solid #3F3D56;
    font-weight: bolder;
    background: #00BFA6;
    transition: background 0.5s ease;
    cursor: pointer;
}

.btn-call:hover {
    background: #01dabd;
}

/* Explain bot */
#explain-bot {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-bottom: solid 1px #3F3D56;
}

.explain-text {
    margin-left: 20px;
}

.explain-text > h1 > span {
    color: #00BFA6;
}

.explain-text > p {
    width: 50vw;
    text-align: justify;
    color: #3F3D56;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.explain-text > p > span {
    color: #00BFA6;
}

/* Benefits */
#benefits {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
}

.benefits-text > ul {
    width: 600px;
}

.benefits-text > ul > li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3F3D56;
}

.benefits-text > ul > li > span {
    color: #00BFA6;
}

/* Image Analisys */
#img-analisys {
    width: 100vw;
    height: 100vh;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img-analisys > h2 {
    color: #3F3D56;
}

/* Esconde o input */
input[type='file'] {
    display: none
  }
  
  /* Aparência que terá o seletor de arquivo */
  label {
    background-color: #00BFA6;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
  }

/* mobile */
@media only screen and (max-width: 1024px) {
    .navbar-pestbot > ul {
        display: none;
    }

    #call-to-action > svg {
        display: none;
    }

    .call-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 250px;
        margin: 0;
    }

    .call-box > h2 {
        font-size: 16px;
    }

    .btn-call {
        margin-top: 15px;
    }

    #explain-bot {
        display: none;
    }

    #benefits {
        display: none;
    }
}